services:
  test:
    build:
      context: .
      dockerfile: ./.docker/test.Dockerfile
      args:
        DOCKER_BUILDKIT: 1
      target: runtime
    restart: "no"
    container_name: multidirectory-test
    volumes:
      - ./app:/app
      - ./tests:/app/tests
    environment:
      DEBUG: 1
      DOMAIN: md.test
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: password123
      SECRET_KEY: 6a0452ae20cab4e21b6e9d18fa4b7bf397dd66ec3968b2d7407694278fd84cce
      # PYTHONTRACEMALLOC: 1
      PYTHONDONTWRITEBYTECODE: 1
    command: bash -c "python -B -m pytest -x -W ignore::DeprecationWarning -vv"
    # command: bash -c "python -B -m pytest tests/test_ldap/test_util/test_modify.py::test_ldap_modify_with_ap -x -W ignore::DeprecationWarning -vv"
    tty: true

  postgres:
    container_name: MD-test-postgres
    image: postgres:16
    restart: "no"
    environment:
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: password123
    expose:
      - "5432"
    logging:
      driver: "none"

  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    container_name: dragonfly-test
    expose:
      - "6379"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 0.5GiB
