services:
  md-test:
    image: ${TAG}
    restart: "no"
    environment:
      DEBUG: 1
      DOMAIN: md.test
      DEFAULT_NAMESERVER: 192.168.1.1
      PDNS_API_KEY: testkey123
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: password123
      SECRET_KEY: 6a0452ae20cab4e21b6e9d18fa4b7bf397dd66ec3968b2d7407694278fd84cce
      POSTGRES_HOST: postgres
    command: sh -c "python -m pytest -n auto -W ignore::DeprecationWarning -vv"

  postgres:
    image: postgres:16
    restart: "no"
    environment:
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: password123
    expose:
      - "5432"
    logging:
      driver: "none"

  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    expose:
      - "6379"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 0.5GiB
