# For local development
# Copyright (c) 2024 MultiFactor
# License: https://github.com/MultiDirectoryLab/MultiDirectory/blob/main/LICENSE
services:
  traefik:
    image: "traefik:v2.6"
    container_name: "traefik"
    command:
      - "--log.level=INFO"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.ldap.address=:389"
      - "--entrypoints.ldaps.address=:636"
    ports:
      - "80:80"
      - "8080:8080"
      - "389:389"
      - "636:636"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  md:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile
      args:
        DOCKER_BUILDKIT: 1
      target: runtime
    image: multidirectory
    restart: unless-stopped
    # container_name: multidirectory
    volumes:
      - ./app:/app
      - ./certs:/certs
    env_file:
      local.env
    command: python -OO . --loop uvloop
    tty: true
    depends_on:
      migrations:
        condition: service_completed_successfully
    deploy:
      mode: replicated
      replicas: 4
      endpoint_mode: dnsrr
      resources:
        limits:
          cpus: '1.0'
          memory: 100M
        reservations:
          cpus: '0.25'
          memory: 20M
    labels:
      - traefik.enable=true

      - traefik.tcp.routers.ldap.rule=HostSNI(`*`)
      - traefik.tcp.routers.ldap.entrypoints=ldap
      - traefik.tcp.routers.ldap.service=ldap
      - traefik.tcp.services.ldap.loadbalancer.server.port=389

      - traefik.tcp.routers.ldaps.rule=HostSNI(`*`)
      - traefik.tcp.routers.ldaps.entrypoints=ldaps
      - traefik.tcp.routers.ldaps.service=ldaps
      - traefik.tcp.services.ldaps.loadbalancer.server.port=636
    healthcheck:
      test: ["CMD-SHELL", "nc -zv 127.0.0.1 389 636"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 3s

  api:
    image: multidirectory
    container_name: multidirectory_api
    volumes:
      - ./app:/app
      - ./certs:/certs
    env_file:
      local.env
    command: uvicorn --factory web_app:create_prod_app --host 0.0.0.0 --reload --loop uvloop
    tty: true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`md.localhost`) && PathPrefix(`/api`)"
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
      - "traefik.http.routers.api.service=api"
      - "traefik.http.routers.api.middlewares=api_strip"
      - "traefik.http.middlewares.api_strip.stripprefix.prefixes=/api"
      - "traefik.http.middlewares.api_strip.stripprefix.forceslash=false"
    depends_on:
      migrations:
        condition: service_completed_successfully

    deploy:
      mode: global
      resources:
        limits:
          cpus: '0.50'
          memory: 150M

  migrations:
    image: multidirectory
    container_name: multidirectory_migrations
    restart: "no"
    volumes:
      - ./app:/app
    env_file:
      local.env
    command: alembic upgrade head
    depends_on:
      postgres:
        condition: service_healthy

  cert_check:
    image: multidirectory
    container_name: multidirectory_certs_check
    restart: "no"
    volumes:
      - ./certs:/certs
      - ./app:/app
    command: ./extra/generate_cert.sh

  postgres:
    container_name: MD-postgres
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: password123
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
    expose:
      - 5432

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U user1"]
      interval: 1s
      timeout: 15s
      retries: 10
      start_period: 3s

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
       - pgadmin:/var/lib/pgadmin
    restart: unless-stopped
    logging:
      driver: "none"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pg.rule=Host(`pg.localhost`)"
      - "traefik.http.routers.pg.entrypoints=web"
      - "traefik.http.services.pg.loadbalancer.server.port=80"

  kdc:
    build:
      context: .kerberos
    container_name: kdc
    restart: unless-stopped
    volumes:
      - keyfile:/etc/krb5.d/
      - kdc:/etc/krb5kdc/
      - type: bind
        source: ./certs/krb5.conf
        target: /etc/krb5.conf
      - type: bind
        source: ./certs/kdc.conf
        target: /etc/kdc.conf
    image: krb5md
    tty: true
    depends_on:
      - md
    ports:
      - 88:88  # kdc
    command: /usr/sbin/krb5kdc -n -w 4

  kadmin:
    image: krb5md
    container_name: kadmin
    restart: unless-stopped
    volumes:
      - ./certs:/certs
      - keyfile:/etc/krb5.d/
      - kdc:/etc/krb5kdc/
      - .kerberos/config_server.py:/server/config_server.py
      - type: bind
        source: ./certs/krb5.conf
        target: /etc/krb5.conf
      - type: bind
        source: ./certs/kdc.conf
        target: /etc/kdc.conf
    tty: true
    depends_on:
      md:
        condition: service_healthy
      # cert_check:
      #   condition: service_completed_successfully

    ports:
      - 8000:8000
    working_dir: /server
    command: uvicorn --factory config_server:create_app
             --host 0.0.0.0 --ssl-keyfile=/certs/krbkey.pem
             --ssl-certfile=/certs/krbcert.pem
             --reload

  interface:
    build:
      context: ./interface
      args:
        DOCKER_BUILDKIT: 1
    container_name: multidirectory_interface
    restart: "no"
    hostname: interface
    env_file:
      local.env
    environment:
      API_URL: http://md.localhost/api
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.interface.rule=Host(`md.localhost`)"
      - "traefik.http.routers.interface.entrypoints=web"
      - "traefik.http.services.interface.loadbalancer.server.port=80"

volumes:
  postgres:
  pgadmin:
  wireshark:
  keyfile:
  kdc:
