log:
  level: INFO

api:
  insecure: true

ping:
  entryPoint: "ping"

entryPoints:
  ping:
    address: ":8800"
  web:
    address: ":80"
  ldap:
    address: ":389"
    proxyProtocol:
      insecure: true
  ldaps:
    address: ":636"
    proxyProtocol:
      insecure: true
  kadmind:
    address: ":749"
  kpasswd:
    address: ":464"
  bind_dns:
    address: ":8000"
  bind_dns_udp:
    address: ":53/udp"

tls:
  stores:
    default:
      defaultCertificate:
        certFile: /certs/cert.pem
        keyFile: /certs/privkey.pem

  options:
    default:
      maxVersion: VersionTLS12
    maxtls12:
      maxVersion: VersionTLS12

providers:
  file:
    filename: /traefik.yml
    watch: true
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
