$ORIGIN .
$TTL {{ ttl }}
{{ domain }}        IN      SOA     ns1.{{ domain }}. support.md.ru. (
                    {{ today }}01
                    10800
                    3600
                    604800
                    21600
                    )
                    NS  ns1.{{ domain }}.
                    NS  ns2.{{ domain }}.
ns1.{{ domain }}.   IN  A   {{ nameserver_ip }}
ns2.{{ domain }}.   IN  A   127.0.0.1
{{ domain }}.       IN  A   {{ nameserver_ip }}
