name: process_pull_request
on:
  push:
    branches: [main]
  pull_request: null

env:
  REPO: ${{ lower(github.repository) }}

jobs:
  build_linters:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push linters image
        env:
          CACHE_TAG: ghcr.io/${{ env.REPO }}_linters:latest
          TAG: ghcr.io/${{ env.REPO }}_linters:${{ github.sha }}
        run: |
          docker build \
            --target=runtime \
            -f .docker/lint.Dockerfile \
            . \
            -t $TAG \
            --cache-to type=gha,mode=max \
            --cache-from $CACHE_TAG \
            --build-arg BUILDKIT_INLINE_CACHE=1
          docker push $TAG

  ruff_linter:
    runs-on: ubuntu-latest
    needs: build_linters
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull and run ruff check
        env:
          TAG: ghcr.io/${{ env.REPO }}_linters:${{ github.sha }}
        run: |
          docker pull $TAG
          docker run $TAG ruff check --output-format=github .

  ruff_format:
    runs-on: ubuntu-latest
    needs: build_linters
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull and run ruff format
        env:
          TAG: ghcr.io/${{ env.REPO }}_linters:${{ github.sha }}
        run: |
          docker pull $TAG
          docker run $TAG ruff format --check

  mypy:
    runs-on: ubuntu-latest
    needs: build_linters
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull and run mypy
        env:
          TAG: ghcr.io/${{ env.REPO }}_linters:${{ github.sha }}
        run: |
          docker pull $TAG
          docker run $TAG mypy .

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build tests
        env:
          CACHE: ghcr.io/${{ env.REPO }}_test:latest
          TAG: tests
        run: docker build --target=runtime -f .docker/test.Dockerfile . -t $TAG --cache-to type=gha,mode=max --cache-from $CACHE --build-arg BUILDKIT_INLINE_CACHE=1
      - name: Run tests
        env:
          TAG: tests
        run: docker compose -f docker-compose.remote.test.yml up --no-log-prefix --attach md-test --exit-code-from md-test
