name: process_pull_request
on:
  push:
    branches: [main]
  pull_request: null

env:
  REPO: ${{ github.repository }}

jobs:
  build_base:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build base image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .docker/lint.Dockerfile
          target: runtime
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker,dest=/tmp/base.tar
          tags: base:latest
      - name: Upload base image
        uses: actions/upload-artifact@v4
        with:
          name: base-image
          path: /tmp/base.tar
          retention-days: 1

  ruff_linter:
    runs-on: ubuntu-latest
    needs: build_base
    steps:
      - name: Download base image
        uses: actions/download-artifact@v4
        with:
          name: base-image
          path: /tmp
      - name: Load image
        run: docker load -i /tmp/base.tar
      - name: Run ruff check
        run: docker run base:latest ruff check --output-format=github .

  ruff_format:
    runs-on: ubuntu-latest
    needs: build_base
    steps:
      - name: Download base image
        uses: actions/download-artifact@v4
        with:
          name: base-image
          path: /tmp
      - name: Load image
        run: docker load -i /tmp/base.tar
      - name: Run ruff format
        run: docker run base:latest ruff format --check

  mypy:
    runs-on: ubuntu-latest
    needs: build_base
    steps:
      - name: Download base image
        uses: actions/download-artifact@v4
        with:
          name: base-image
          path: /tmp
      - name: Load image
        run: docker load -i /tmp/base.tar
      - name: Run mypy
        run: docker run base:latest mypy .

  tests:
    runs-on: ubuntu-latest
    needs: build_base
    env:
      TAG: base:latest
    steps:
      - uses: actions/checkout@v4
      - name: Download base image
        uses: actions/download-artifact@v4
        with:
          tags: ${{ env.TAG }}
          name: base-image
          path: /tmp
      - name: Load image
        run: docker load -i /tmp/base.tar
      - name: Run tests
        run: docker compose -f docker-compose.remote.test.yml up --no-log-prefix --attach md-test --exit-code-from md-test
